
@{
    ViewBag.Title = "login";
}

<h2>login</h2>
<form method="post">
    <input type="number" name="mob" placeholder="Enter Your Mobile Number" /><br /><br />
    <input type="date" name="dob" placeholder="Enter Your DOB" /><br /><br />
    <input type="submit" value="LOGIN" />
</form>