
@{
    ViewBag.Title = "update";
}


@foreach (var i in ViewBag.data.Rows)
{
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="sname" value="@i[1]" placeholder="Enter Your Name" />
        <input type="text" name="address" value="@i[2]" placeholder="Enter Your Address" />
        <input type="number" name="mob" value="@i[3]" placeholder="Enter Your Mobile Number" />
        <br>@i[4]<br />
        <input type="date" name="dob" value="" placeholder="Enter Your DOB" />
        <input type="file" name="spic" />
        <input type="submit" value="Save Changes" />
    </form>

    
}
